NodeRED/flows.json
[
  {
    "id": "f6f2187d.f17ca8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "5425f72d.b4b998",
    "type": "influxdb",
    "hostname": "127.0.0.1",
    "port": "8086",
    "protocol": "http",
    "database": "database",
    "name": "InfluxDB",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://InfluxDB:8086",
    "rejectUnauthorized": true
  },
  {
    "id": "2a918363.4daafc",
    "type": "inject",
    "z": "f6f2187d.f17ca8",
    "name": "Timestamp Node",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "10",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 340,
    "wires": [["b5bf501e.993ae"]]
  },
  {
    "id": "b5bf501e.993ae",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "API HTTP Request Node",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://API:5000",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 670,
    "y": 340,
    "wires": [["fe7baaae.c91168", "8d011a53.fdc878", "6e6a609c.994bd"]]
  },
  {
    "id": "fe7baaae.c91168",
    "type": "debug",
    "z": "f6f2187d.f17ca8",
    "name": "Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 990,
    "y": 340,
    "wires": []
  },
  {
    "id": "f5d4768f.2bda18",
    "type": "influxdb out",
    "z": "f6f2187d.f17ca8",
    "influxdb": "5425f72d.b4b998",
    "name": "InfluxDB Output Node",
    "measurement": "data",
    "precision": "",
    "retentionPolicy": "",
    "database": "database",
    "precisionV18FluxV20": "ms",
    "retentionPolicyV18Flux": "",
    "org": "MoreThanCertifiedInDocker",
    "bucket": "MoreThanCertifiedInDocker",
    "x": 1280,
    "y": 240,
    "wires": []
  },
  {
    "id": "8d011a53.fdc878",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "API Request to InfluxDB Mapping Function",
    "func": "msg.payload = [\n  [\n    {\n      temp: msg.payload.data.temp,\n    },\n    {\n      device: msg.payload.data.device,\n      name: msg.payload.data.name,\n    },\n  ],\n];\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 850,
    "y": 240,
    "wires": [["fe7baaae.c91168", "f5d4768f.2bda18"]]
  },
  {
    "id": "3b469661.cde19a",
    "type": "http request",
    "z": "f6f2187d.f17ca8",
    "name": "PostgREST API Request Node",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://postgrest:3000/temperature_data",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 1310,
    "y": 440,
    "wires": [[]]
  },
  {
    "id": "6e6a609c.994bd",
    "type": "function",
    "z": "f6f2187d.f17ca8",
    "name": "API Request to PostgREST Mapping Function",
    "func": "msg.payload = [\n  {\n    device: msg.payload.data.device,\n    container: msg.payload.data.name,\n    temperature: msg.payload.data.temp,\n  },\n];\n\nreturn msg;\n",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 860,
    "y": 440,
    "wires": [["3b469661.cde19a", "fe7baaae.c91168"]]
  }
]
